@use "./variables" as *;

body {
  font-family: system-ui, sans-serif;
  color: $text;
  background: $bg;
}

h1,
h2,
h3 {
  font-weight: 800;
  letter-spacing: -0.02em;
}

button {
  font: inherit;
}

/* Utilidades pequeñas */
.center {
  display: grid;
  place-items: center;
}
.card {
  background: $white;
  border-radius: var(--radius);
  box-shadow: $shadow;
}
